body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #cdf;
    color: #67c;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.horiz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

h1 {
    margin: 2rem 0 4rem;
}

.bigTasksDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bigTask {
    background-color: rgb(229, 237, 255);
    min-width: 20rem;
    border: 2px solid #bce;
    border-radius: 1.5rem;
    padding: 0.1rem;
}

button {
    padding: 0.35rem 0.7rem;
    border-radius: 1rem;
    color: rgb(224, 234, 255);
    background-color: #78c;
    border: 2px solid #bce;
}

input {
    background-color: rgb(224, 234, 255);
    border: 1px solid #bce;
    border-radius: 1rem;
    padding: 0 1rem;
    color: #78c;
    width: 60%;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 12rem;
}

.splitTasksDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}

.splitTask {
    background-color: rgb(229, 237, 255);
    width: 30rem;
    border: 2px solid #bce;
    border-radius: 1.5rem;
    padding: 0.1rem;
}