body {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: #cdf;
    color: #a4e;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.bigTasksDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bigTask {
    background-color: rgb(255, 243, 227);
    min-width: 20rem;
    border: 2px solid #bce;
    border-radius: 1.5rem;
    padding: 0.1rem;
}

button {
    padding: 0.35rem 0.7rem;
    border-radius: 1rem;
    color: #cef;
    background-color: #78f;
    border: 2px solid #bce;
}

input {
    background-color: rgb(224, 234, 255);
    border: 1px solid #bce;
    border-radius: 1rem;
    padding: 0 1rem;
    color: #a4e;
}